// colors
$surface-blue: #459af6;
$white: #ffffff;
$main-black: #444343;

// spacing
$spacing-4: 4px;
$spacing-8: 8px;
$spacing-16: 16px;

// border-radius
$border-radius-4: 4px;
$border-radius-8: 8px;
$border-radius-16: 16px;
$border-radius-infinite: 10000px;

// stroke-width
$stroke-width-1: 1px;
$stroke-width-2: 2px;
