// colors
$color-surface-primary-main: #459af6;
$color-surface-primary: #ffffff;
$color-surface-secondary: #f4f4f4;
$color-surface-active: #d1d5db;
$color-surface-disabled: #d1d5db;

$color-text-primary: #4b5563;
$color-text-secondary: #9ca3af;
$color-text-active: #ffffff;

$color-error: #e64062;

// spacing
$spacing-4: 4px;
$spacing-8: 8px;
$spacing-16: 16px;
$spacing-32: 32px;

// border-radius
$border-radius-4: 4px;
$border-radius-8: 8px;
$border-radius-16: 16px;
$border-radius-infinite: 10000px;

// stroke-width
$stroke-width-1: 1px;
$stroke-width-2: 2px;

// font-size
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-32: 32px;
$font-size-page-title: 48px;
