// colors
$color-surface-primary-main: #459af6;
$color-surface-primary: #ffffff;
$color-surface-secondary: #d8d6d5;

$color-text-primary: #444343;
$color-text-secondary: #d8d6d5;

$color-error: #e64062;

// spacing
$spacing-4: 4px;
$spacing-8: 8px;
$spacing-16: 16px;
$spacing-32: 32px;

// border-radius
$border-radius-4: 4px;
$border-radius-8: 8px;
$border-radius-16: 16px;
$border-radius-infinite: 10000px;

// stroke-width
$stroke-width-1: 1px;
$stroke-width-2: 2px;

// font-size
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-32: 32px;
$font-size-page-title: 48px;
